*
{
    font-family: Î¢ÈíÑÅºÚ, ËÎÌå, Arial;
	margin-left: 0px;
}

.MyTable  
{
    
    padding: 0px;
    margin: 0px;   
    border-collapse:collapse;
    
}

.MyTable td {
    border: 1px solid #C1DAD7;   
    background: #fff;
    font-size:11px;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
    text-align:center;
}

td.alt {
    background: #F5FAFA;
    color: #797268;
}

                        .post{
                     border: #6e8bde 1px solid ;
                     background-color:  #f0eedf;
                   
                    }
                     
        .postTitle {
                    padding-left: 3px;
                    font-weight: bolder;
                    padding-bottom: 3px;
                    padding-top: 3px;
                    border-bottom: #6e8bde 1px dashed;
                    background-color: #d6dff7;
                    text-align:left;
                    
        		}
                    
          .postText {
                    padding-right: 10px;
                    padding-left: 10px;
                    padding-bottom: 5px;
                    padding-top: 1px;
                    background-color: #f5f5f5;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    line-height: 1.8;
                    text-align:left;
        }